.productListItem > td {
    border-bottom: 1px #ddd solid;
}
.productContent {
    display: flex;
    align-items: center;
}

.productContent img {
    width: 10vh;
    height: 10vh;
}

.actionBoard {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actionBtn {
    font-size: 25px;
}

.actionBtn:hover {
    cursor: pointer;
}

.actionBtn:nth-child(2):hover {
    transform: rotate(0.5turn);
    transition: 0.5s ease;
}
